In [1]:
#import the required libraries

import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Ice%20Cream.csv")

In [4]:
df

     Temperature  Revenue
0           24.6      535
1           26.1      626
2           27.8      661
3           20.6      488
4           11.6      317
..           ...      ...
495         22.3      525
496         32.9      756
497         12.6      307
498         22.4      567
499         29.0      656

[500 rows x 2 columns]

In [5]:
df.head()

   Temperature  Revenue
0         24.6      535
1         26.1      626
2         27.8      661
3         20.6      488
4         11.6      317

In [6]:
df.tail()

     Temperature  Revenue
495         22.3      525
496         32.9      756
497         12.6      307
498         22.4      567
499         29.0      656

In [7]:
df.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.281600   522.058000
std       8.097597   175.410399
min       0.000000    10.000000
25%      17.175000   406.000000
50%      22.400000   530.000000
75%      27.800000   643.000000
max      45.000000  1000.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 7.9 KB

From the given data we can say that the prediction column i.e., Revenue is also a continuous value so, we opt for regression model.

In [21]:
Y = df['Revenue']

X = df[['Temperature']]

In [22]:
Y.shape

(500,)

In [23]:
X.shape

(500, 1)

In [24]:
#let's split the data
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state = 42)

In [26]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(375, 1) (125, 1) (375,) (125,)

In [27]:
#model selection
from sklearn.linear_model import LinearRegression

In [28]:
LR = LinearRegression()

In [29]:
LR.fit(X_train,Y_train)

LinearRegression()

In [32]:
LR.intercept_

46.298343092875996

In [33]:
LR.coef_

array([21.37601787])

In [30]:
y_predict = LR.predict(X_test)

In [31]:
y_predict

array([683.30367574, 632.00123285, 559.32277207, 499.46992203,
       614.90041855, 304.94815937, 285.70974328, 315.63616831,
       505.88272739, 685.44127753, 723.91810971, 401.14023981,
       431.06666483, 672.61566681,  52.71114846, 200.20567179,
       522.98354169, 563.59797565, 584.97399352, 683.30367574,
       557.18517029, 783.77095975, 655.51485251, 570.01078101,
       912.027067  , 666.20286145, 315.63616831, 632.00123285,
       732.46851686, 698.26688826, 435.3418684 , 471.68109879,
       711.09249898, 800.87177405, 640.55164   , 493.05711666,
       745.29412758, 317.7737701 , 262.19612362, 131.80241459,
       582.83639174, 230.13209681, 548.63476314, 392.58983266,
       437.47947019, 593.52440067, 572.1483828 , 125.38960923,
       475.95630236, 531.53394884, 623.4508257 , 503.7451256 ,
       484.50670951, 499.46992203, 550.77236492, 632.00123285,
       574.28598459, 679.02847217, 172.41684855, 661.92765787,
       584.97399352, 704.67969362, 535.80915241, 629.86363106,
       676.89087038, 411.82824874, 510.15793096, 495.19471845,
       732.46851686, 313.49856652, 319.91137188, 454.58028449,
       796.59657048, 424.65385947, 520.8459399 , 689.71648111,
       805.14697763, 448.16747913, 495.19471845, 493.05711666,
       546.49716135, 520.8459399 , 664.06525966, 548.63476314,
       589.2491971 , 698.26688826, 238.68250396, 627.72602927,
       584.97399352, 768.80774724, 428.92906304, 522.98354169,
       610.62521497, 354.11300048, 563.59797565, 580.69878995,
       640.55164   , 661.92765787, 413.96585053, 441.75467377,
       435.3418684 , 234.40730039, 512.29553275, 441.75467377,
       386.17702729, 758.1197383 , 621.31322391, 138.21521995,
       672.61566681, 463.13069164, 657.6524543 , 805.14697763,
       578.56118816, 452.4426827 , 420.37865589, 548.63476314,
       576.42358637, 687.57887932, 674.7532686 , 448.16747913,
       578.56118816, 503.7451256 , 371.21381478, 469.543497  ,
       478.09390415])

In [34]:
#accuracy
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score,mean_squared_error

In [35]:
print(mean_absolute_error(Y_test,y_predict))

19.090303939179492

In [36]:
print(mean_absolute_percentage_error(Y_test,y_predict))

0.04883910855523751

In [37]:
print(mean_squared_error(Y_test,y_predict))

616.8140460213498

In [38]:
print(r2_score(Y_test,y_predict))

0.9775975523219221

# **From this we can say that the model can correctly predict 91% of the data.**